In [5]:
import numpy as np
import pandas as pd

data = pd.read_excel('intr2ds/credit_card_default.xls', header=1)

In [6]:
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,Female,2,1,24,NaN,2,-1,-1,...,0.0,0,0,0,689,0,0,0,0,1
1,2,120000,Female,2,2,26,NaN,2,0,0,...,3272.0,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,Female,2,2,34,0.0,0,0,0,...,14331.0,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,Female,2,1,37,0.0,0,0,0,...,28314.0,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,Male,2,1,57,-1.0,0,-1,0,...,20940.0,19146,19131,2000,36681,10000,9000,689,679,0

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null object
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         29996 non-null float64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     29989 non-null float64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     29996 non-null float64
BILL_AMT4                     29988 non-null float64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null object
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null object
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null object
default payment next month    30000 non-null int64
dtypes: float64(4), int64(17), object(4)
memory usage: 5.7+ MB

In [68]:
cat_f = data.dtypes[data.dtypes == 'object']

In [69]:
cat_f

SEX         object
PAY_AMT1    object
PAY_AMT3    object
PAY_AMT6    object
dtype: object

In [70]:
data['SEX'].value_counts()

2         18108
1         11885
Female        4
Male          3
Name: SEX, dtype: int64

In [71]:
data1 = data[(data['SEX'] != 'Male') & (data['SEX'] != 'Female')]

In [72]:
data1['SEX'].value_counts()

2    18108
1    11885
Name: SEX, dtype: int64

In [73]:
data1 = data1.astype({'SEX': np.int64})

In [74]:
data1.dtypes

ID                              int64
LIMIT_BAL                       int64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                         float64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                       int64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                       int64
BILL_AMT6                       int64
PAY_AMT1                       object
PAY_AMT2                        int64
PAY_AMT3                       object
PAY_AMT4                        int64
PAY_AMT5                        int64
PAY_AMT6                       object
default payment next month      int64
dtype: object

In [76]:
data1.isna().sum()

ID                             0
LIMIT_BAL                      0
SEX                            0
EDUCATION                      0
MARRIAGE                       0
AGE                            0
PAY_0                          2
PAY_2                          0
PAY_3                          0
PAY_4                          0
PAY_5                          0
PAY_6                          0
BILL_AMT1                      9
BILL_AMT2                      0
BILL_AMT3                      4
BILL_AMT4                     12
BILL_AMT5                      0
BILL_AMT6                      0
PAY_AMT1                       0
PAY_AMT2                       0
PAY_AMT3                       0
PAY_AMT4                       0
PAY_AMT5                       0
PAY_AMT6                       0
default payment next month     0
dtype: int64

In [77]:
cat_f = data1.dtypes[data1.dtypes == 'object']

In [78]:
cat_f

PAY_AMT1    object
PAY_AMT3    object
PAY_AMT6    object
dtype: object

In [79]:
data1['PAY_AMT1'].value_counts()

0        5245
2000     1361
3000      891
5000      698
1500      507
4000      426
10000     401
1000      365
2500      297
6000      294
390       207
7000      195
3500      185
1300      184
8000      176
1600      174
1800      167
1700      157
1200      136
2100      129
4500      108
2200      108
15000      97
1400       97
3200       84
9000       80
20000      80
2300       70
6500       70
11000      68
         ...
2583        1
7187        1
4333        1
7120        1
7058        1
56270       1
7059        1
7060        1
7064        1
13371       1
7067        1
7069        1
11632       1
7078        1
7079        1
7081        1
7082        1
7084        1
7088        1
56243       1
7094        1
7096        1
7097        1
7102        1
7105        1
7107        1
7108        1
7110        1
7113        1
4974        1
Name: PAY_AMT1, Length: 7944, dtype: int64

In [80]:
data1['PAY_AMT1'] = pd.to_numeric(data1['PAY_AMT1'], errors='coerce')

In [81]:
data1.dtypes

ID                              int64
LIMIT_BAL                       int64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                         float64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                       int64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                       int64
BILL_AMT6                       int64
PAY_AMT1                      float64
PAY_AMT2                        int64
PAY_AMT3                       object
PAY_AMT4                        int64
PAY_AMT5                        int64
PAY_AMT6                       object
default payment next month      int64
dtype: object

In [62]:
data1.isna().sum()

ID                             0
LIMIT_BAL                      0
SEX                            0
EDUCATION                      0
MARRIAGE                       0
AGE                            0
PAY_0                          2
PAY_2                          0
PAY_3                          0
PAY_4                          0
PAY_5                          0
PAY_6                          0
BILL_AMT1                      9
BILL_AMT2                      0
BILL_AMT3                      4
BILL_AMT4                     12
BILL_AMT5                      0
BILL_AMT6                      0
PAY_AMT1                       2
PAY_AMT2                       0
PAY_AMT3                       0
PAY_AMT4                       0
PAY_AMT5                       0
PAY_AMT6                       0
default payment next month     0
dtype: int64

In [83]:
data1['PAY_AMT3'] = pd.to_numeric(data1['PAY_AMT3'], errors='coerce')

In [84]:
data1['PAY_AMT6'] = pd.to_numeric(data1['PAY_AMT6'], errors='coerce')

In [85]:
data1.dtypes

ID                              int64
LIMIT_BAL                       int64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                         float64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                       int64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                       int64
BILL_AMT6                       int64
PAY_AMT1                      float64
PAY_AMT2                        int64
PAY_AMT3                      float64
PAY_AMT4                        int64
PAY_AMT5                        int64
PAY_AMT6                      float64
default payment next month      int64
dtype: object

In [86]:
data1.isna().sum()

ID                             0
LIMIT_BAL                      0
SEX                            0
EDUCATION                      0
MARRIAGE                       0
AGE                            0
PAY_0                          2
PAY_2                          0
PAY_3                          0
PAY_4                          0
PAY_5                          0
PAY_6                          0
BILL_AMT1                      9
BILL_AMT2                      0
BILL_AMT3                      4
BILL_AMT4                     12
BILL_AMT5                      0
BILL_AMT6                      0
PAY_AMT1                       2
PAY_AMT2                       0
PAY_AMT3                       3
PAY_AMT4                       0
PAY_AMT5                       0
PAY_AMT6                       4
default payment next month     0
dtype: int64

In [102]:
data1 = data1.fillna(data1.median())

In [103]:
data1.isna().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [104]:
from sklearn.model_selection import train_test_split

In [105]:
train, test = train_test_split(data1, test_size=0.2, random_state=1)

In [106]:
from sklearn import svm

In [113]:
model = svm.SVC()
model.fit(train.drop(['default payment next month'], axis=1), train['default payment next month'])

/home/grigor/.local/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [115]:
pred = model.predict(test.drop(['default payment next month'], axis=1))

In [132]:
acc = sum(pred == test['default payment next month'])/test.shape[0]

In [133]:
acc

0.21853642273712284